/* MEDIA QUERY TABLET */
@media only screen and (max-width: 1280px) {
  /* PAGE SETUP */
  :root {
    --base-width: 1280;
  }
  .page-padding {
    padding-left: calc((50 / var(--base-width)) * 100vw);
    padding-right: calc((50 / var(--base-width)) * 100vw);
  }
  /* PAGE SETUP */

  /* TEXT */
  h1 {
    --fs: 45;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_bold);
  }
  h2 {
    --fs: 32;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_bold);
  }
  h3 {
    --fs: 16;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_bold);
  }
  h4 {
    --fs: 18;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_bold);
  }
  /* TEXT */

  /* HERO */
  #hero {
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: repeat(3, calc((371 / var(--base-width)) * 100vw));
    grid-template-rows: repeat(6, calc((306 / var(--base-width)) * 100vw));
    grid-template-areas:
      "art1 art1 art2"
      "art1 art1 art3"
      "art4 art5 art5"
      "art4 art6 art7"
      "art8 art8 art7"
      "art9 art10 art10";
  }
  #hero article {
    padding-left: calc((35 / var(--base-width)) * 100vw);
    padding-right: calc((118 / var(--base-width)) * 100vw);
    padding-bottom: calc((50 / var(--base-width)) * 100vw);
  }
  #hero article p {
    --fs: 13;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
  }
  /* HERO */

  /* EVENTS */
  #events {
    padding-top: 83px;
    padding-bottom: 80px;
  }
  #events h1 {
    margin-bottom: 50px;
    text-align: center;
  }
  #events .event {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 35px;
  }
  #events .event img {
    width: 100%;
    height: calc((400 / var(--base-width)) * 100vw);
    margin-bottom: 50px;
  }
  #events .desc {
    margin-right: 0;
  }
  #events .title {
    --fs: 25;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
  }
  #events .title span {
    --fs: 90;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
  }
  #events .text {
    max-width: 100%;
    margin-right: auto;
  }
  #events .text p {
    width: 100%;
  }
  #events .text :nth-child(1) {
    margin-bottom: 22px;
    --fs: 25;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
  }
  #events .text p:nth-of-type(2) {
    --fs: 25;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
  }

  /* EVENTS */

  /* EXPLORE */
  #explore {
    display: flex;
    padding-top: 45px;
    padding-bottom: 65px;
  }
  #explore article {
    padding-top: 140px;
    padding-bottom: 95px;
    margin-right: calc((95 / var(--base-width)) * 100%);
  }
  #explore article h1 {
    margin-bottom: 26px;
    --fs: 30;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_bold);
    max-width: calc((267 / var(--base-width)) * 100vw);
  }
  #explore article p {
    --fs: 25;
    font-size: clamp(
      var(--fs) * 1px / 2,
      calc(var(--fs) / var(--base-width)) * 100vw,
      var(--fs) * 1px
    );
    font-weight: var(--fw_normal);
    max-width: calc((392 / var(--base-width)) * 100vw);
    color: var(--col_txt);
  }
  #explore ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 15px;
  }
  #explore ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #explore ul img {
    width: 229px;
    height: 190px;
    background-color: var(--col_blank);
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 26px;
  }
  #explore ul p {
    font-size: 12px;
    font-weight: var(--fw_bold);
    color: var(--col_txt);
  }
  /* EXPLORE */
}
/* MEDIA QUERY TABLET */

/* MEDIA QUERY PHONE */
@media only screen and (max-width: 800px) {
  /* PAGE SETUP */
  :root {
    --base-width: 1280;
  }
  .page-padding {
    padding-left: calc((50 / var(--base-width)) * 100vw);
    padding-right: calc((50 / var(--base-width)) * 100vw);
  }
  /* PAGE SETUP */
}
/* MEDIA QUERY PHONE */
